:root {
    // 主题色
    --primary: #409EFF;
    --weak-primary: #E6F7FF;

    // 系统色
    --success: #67C23A;
    --warning: #E6A23C;
    --fail: #F56C6C;
    --info: #909399;

    // 字体色
    --fcolor-1: #333;
    --fcolor-2: #666;
    --fcolor-3: #999;

    // 边框色
    --border: #e5e5e5;
    // 灰背景色
    --light-bg: #f5f5f5;
    --gray-bg: #ccc;

    // 三层阴影
    --shadow-1: 0px 4px 12px rgba(0, 0, 0, 0.13);
    --shadow-2: 0px 4px 12px rgba(0, 0, 0, 0.10);
    --shadow-3: 0px 4px 12px rgba(0, 0, 0, 0.07);
}