:root {
    // 主题色
    --primary: #3479f6;

    // 系统色
    --success: #67C23A;
    --warning: #E6A23C;
    --fail: #F56C6C;
    --info: #909399;

    // 字体色
    --fcolor-0: #000; // 最深文字
    --fcolor-1: #333; // 正文
    --fcolor-2: #666; // 副文
    --fcolor-3: #999; // 提示文
    --placeholder: #999; // 默认输入的文字

    // 边框色
    --border: #e5e5e5;

    // 灰背景色
    --light-bg: #f5f5f5;
    --gray-bg: #ccc;

    // 三层阴影
    --shadow-1: 0px 4px 12px rgba(0, 0, 0, 0.13); // 低层
    --shadow-2: 0px 4px 12px rgba(0, 0, 0, 0.10); // 中层
    --shadow-3: 0px 4px 12px rgba(0, 0, 0, 0.07); // 高层
}

::-webkit-input-placeholder {
    color: var(--placeholder);
}