.markdown-page {
    padding: 40px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #24292e;
}

/* title */
.markdown-page > h1 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}
.markdown-page > h2 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
}
.markdown-page > h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}
.markdown-page > h4 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}
.markdown-page > h5 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}
.markdown-page > h6 {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
}

/* p */
.markdown-page > p {
    margin: 16px 0;
}

/* special text */
.markdown-page p > code {
    padding: 0 4px;
    margin: 0;
    border-radius: 3px;
    color: #e83e8c;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    background: #f5f2f3;
    font-family: inherit;
}
.markdown-page em {

}
.markdown-page strong {

}
.markdown-page a {
    color: #0269c8;
    text-decoration: underline;
}

/* blockquote */
.markdown-page blockquote {
    padding: 0 16px;
    margin: 0;
    margin-bottom: 16px;
    color: #6a737d;
    border-left: 4px solid #ccc;
}
.markdown-page blockquote p {

}

/* table */
.markdown-page >table {
    min-width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    text-align: left;
}
.markdown-page >table th{
    padding: 6px 13px;
    border: 1px solid #ccc;
    font-weight: 600;
    background: #f2f2f2;
}
.markdown-page >table td{
    padding: 6px 13px;
    border: 1px solid #ccc;
}

/* code */
.markdown-page > pre {
    margin-bottom: 16px;
    border-radius:  3px;
    overflow: hidden;
    font-size: 14px;
}
.markdown-page > pre code {
    padding: 12px 20px;
}

/* list */
.markdown-page  ol {
    padding-left: 2em;
    margin-bottom: 16px;
    list-style-type: decimal;
}
.markdown-page  ol li {
    margin-bottom: 4px;
    list-style-type: decimal;
}
.markdown-page  ul {
    padding-left: 2em;
    margin-bottom: 16px;
    list-style-type: disc;
}
.markdown-page  ul li{
    margin-bottom: 4px;
    list-style-type: disc;
}
