@import "~normalize.css";

* {
    box-sizing: border-box;
}

html,body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

body {
    background: #fff;
    font-family:
        -apple-system,BlinkMacSystemFont,
        'Microsoft YaHei',
        'Segoe UI Emoji',
        'Apple Color Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,p,h1,h2,h3,h4,h5,h6,dl,dd,ul,ol,th,td,button,figure,input,textarea,form,pre {
    margin: 0;
    padding: 0;
}

img {
    border:0;
    display:block;
}

a,a:hover,a:active,a:visited,a:link,a:focus,button {
    color: #000;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

i,b {
    font-weight: normal;
    font-style: normal;
}

ul,ol,li {
    list-style:none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,textarea,form,button {
    outline: none;
    border: none;
}

::-webkit-input-placeholder {
    color: #ccc;
}

pre, code {
    font-family: 'Menlo';
}